.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.cabecalho-imagem {
    height: 50px;
}

.cabecalho-menu {
    display: flex;
    gap: 60px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: aliceblue;
    font-weight: 400;
    font-size: 18px;
}